<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Example Chat App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="container my-5">
        <div id="LoginChatRoom" class="row">
            <div class="col-md-6 offset-md-3">

                <div class="form-group">
                    <input type="text" class="form-control mb-2" id="username" placeholder="Kullanıcı adı" autocomplete="off">
                    <button id="login" class="btn btn-primary float-right">Giriş</button>
                </div>

            </div>
        </div>

        <div id="ChatRoom" class="row">
            <div class="col-md-8">
                <ul id="output" class="list-group"></ul>
                <div id="feedback"></div>

                <div class="form-group">
                    <input type="text" class="form-control mb-2" id="message" placeholder="Mesaj yazın" autocomplete="off">
                </div>
            </div>
            <div class="col-md-4 card card-body bg-light">
                <ul id="logged_in_users" class="list-group"></ul>
            </div>
        </div>
    </div>
    
    <script src="/socket.io/socket.io.js"></script>
    <script src="/chat.js"></script>
</body>
</html>